Flask==3.0.2
Flask-SQLAlchemy==3.1.1
Flask-CORS==4.0.0
Flask-Migrate==4.0.5
PyMySQL==1.1.0
cryptography
Shapely
GeoAlchemy2==0.14.2
SQLAlchemy==2.0.23
gunicorn==21.2.0
requests==2.31.0
numpy
pandas
fpdf==1.7.2
python-dotenv==1.0.1
PyJWT==2.8.0

# pip install -r requirements.txt